@import '../page.module.scss';

.aboutSection {
    position: relative;
   
    padding: $marginSection 0;

    .aboutContent {
        width: 90%;
        display: flex;
        margin: auto;

        .aboutLeft {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            padding: 2% 0;
    
            h2 {
                @include title-primary();
            }
    
            p {
                @include text-primary();
            }
        }
    
        .aboutRight {
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 90%;
                height: auto;
            }
        }
    }
}


//Responsividade

@media #{$laptop} {
    .aboutSection {
        .aboutContent {
            .aboutLeft {
                row-gap: 20px;
                padding: 0;
            }
        }
    }
}

@media (max-width: 1000px) {
    .aboutSection {
        .aboutContent {
            flex-direction: column;
            row-gap: 20px;

            .aboutLeft, .aboutRight {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}