@import '../page.module.scss';

//Variáveis

$modalWindowSize: "(max-width: 1000px)";

@mixin modalCaption() {
    font-size: 30px;
    font-weight: 400;
    color: $text-primary;

    @media #{$modalWindowSize} {
        font-size: 28px;
        text-align: center;
    }

    @media #{$mobileBig} {
        font-size: 26px;
    }
}

@mixin modalType() {
    font-size: 20px;
    font-weight: 400;
    color: #BBB;

    @media #{$desktop} {
        font-size: 18px;
    }
}

//Animações - Ao ativar modal

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.modalEnter {
    animation: slideIn 0.3s ease-in-out;
    left: 2.5%;
}

.modalExit {
    animation: slideOut 0.3s ease-in-out;
    left: 2.5%;
}

//Estilização principal

.projectModalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .projectModalBackdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;

        background-color: transparent;
        backdrop-filter: blur(4px);
    }

    .projectModalMain {
        width: 95%;
        height: 95%;
        overflow-y: auto;
        margin: auto;
        background-color: #333961f8;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "close close" "img access" "about technologies" "party party" ;
        row-gap: 20px;
        padding: 0 20px 20px 20px;
        border-radius: 12px;
        z-index: 3;
    
        //Estilização do Scroll
        &::-webkit-scrollbar {
    
            @media #{$tablet} {
                width: 2px;
            }
        }
        
        &::-webkit-scrollbar-track {
            background-color: #333961;
        }

        .closeModal {
            position: relative;
            grid-area: close;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            z-index: 5;
    
            button {
                position: fixed;
                border-radius: 12px;
                background: linear-gradient(180deg, #5c1212 0%, rgb(150 0 0 / 0.95) 100%);
                margin-top: 20px;
    
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                box-sizing: content-box;
                transition: all 0.3s;
                cursor: pointer;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    
        //Seção da imagem do projeto
        .imgProject {
            height: auto;
            grid-area: img;
    
            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25);
            }
        }

        .accessProject {
            grid-area: access;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            .header {    
                display: flex;
                flex-direction: column;
                row-gap: 4px;

                h2 {
                    @include title-primary();
                    text-align: center;
                }
        
                h4 {
                    @include modalType();
                    text-align: center;
                }
            }
    
            .links {
                display: flex;
                flex-direction: column;
                row-gap: 14px;
    
                .gitHub, .deploy {
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    border-radius: 14px;
                    column-gap: 20px;
                    padding: 4px 0;
                    transition: 0.3s transform;
                    cursor: pointer;
    
                    svg {
                        width: 40px;
                    }
    
                    &:hover {
                        transform: scale(1.03);
                    }
                }
    
                .gitHub {
                    background-color: rgb(7 13 30 / 0.50);
    
                    p {
                        @include text-primary();
                    }
                }
    
                .deploy {
                    background: rgb(255 255 255 / 0.75);
    
                    p {
                        @include text-primary();
                        color: #000;
                    }
                }
            }
        }
    
        .aboutProject {
            grid-area: about;

            display: flex;
            flex-direction: column;
            row-gap: 20px;
    
            h3 {
                @include modalCaption();
            }
    
            p {
                @include text-primary();
            }
        }
    
        .technologiesProject {
            width: 88%;
            margin: 0 auto;
            grid-area: technologies;

            display: flex;
            flex-direction: column;
            row-gap: 20px;
    
            h3 {
                @include modalCaption();
            }
    
            .techIcons {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                justify-items: center;
                row-gap: 20px;

                div {
                    width: 120px;
                    height: 120px;
    
                    svg {
                        width: 64px;
                    }
                }
            }
        }
    
        .partyMembers {
            grid-area: party;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
    
            h3 {
                @include modalCaption();
            }
    
            .membersGrid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                row-gap: 20px;
    
                div {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                    cursor: pointer;
    
                    &:hover img {
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        clip-path: circle(110% at 50% 0%);
                    }
        
                    img {
                        width: 210px;
                        height: 210px;
                        border-radius: 15px;
                        clip-path: circle(110% at 50% -10%);
                        transition: clip-path 0.3s ease-out;
                    }
        
                    p {
                        @include text-primary();
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Responsividade

@media #{$desktop} {
    .projectModalContainer {
        .projectModalMain {
            .accessProject {
                .links {
                    .gitHub, .deploy {
                        width: 80%;
                    }
                }
            }

            .technologiesProject {
                width: 80%;
            }
        }
    }
}

@media #{$modalWindowSize} {
    .projectModalContainer {
        .projectModalMain {
            grid-template-columns: 100%;
            grid-template-areas: "close" "img" "access" "about" "technologies" "party";

            .accessProject {
                row-gap: 20px;
                
                .links {
                    flex-direction: row;

                    .gitHub, .deploy {
                        width: 45%;
                    }
                }
            }

            .technologiesProject {
                width: 100%;

                .techIcons {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            .partyMembers {
                .membersGrid {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media #{$tablet} {
    .projectModalContainer {
        .projectModalMain {
            .accessProject {
                .links {
                    flex-direction: column;

                    .gitHub, .deploy {
                        width: 65%;
                    }
                }
            }

            .technologiesProject {
                .techIcons {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            .partyMembers {
                .membersGrid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media #{$mobileBig} {
    .projectModalContainer {
        .projectModalMain {
            .accessProject {
                .links {
                    .gitHub, .deploy {
                        width: 85%;
                    }
                }
            }

            .technologiesProject {
                .techIcons {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            .partyMembers {
                .membersGrid {
                    div {
                        img {
                            width: 170px;
                            height: 170px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$mobileNormal} {
    .projectModalContainer {
        .projectModalMain {
            padding: 0px 2% 2% 20px;
            border-radius: 15px;

            .accessProject {
                .links {
                    .gitHub, .deploy {
                        width: 95%;
                    }
                }
            }

            .partyMembers {
                .membersGrid {
                    div {
                        img {
                            width: 140px;
                            height: 140px;
                        }
                    }
                }
            }
        }
    }
}