@import '../page.module.scss';

.projectsSection {
    @include scroll-margin-top();

    width: 100%;

    position: relative;
    background-image: url('../../../public/BackgroundImage.webp');
    background-position: center center;
    background-repeat: repeat;

    padding: $marginSection 0;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h2 {
        @include title-primary();
        text-align: center;
    }

    .projectsDiv {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
        justify-items: center;
        grid-column-gap: 10px;
        row-gap: 24px;
    }
}

//Responsividade

@media #{$laptop} {
    .projectsSection {
        .projectsDiv {
            grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
        }
    }
}

@media (max-width: 1000px) {
    .projectsSection {
        .projectsDiv {
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        }
    }
}

@media #{$tablet} {
    .projectsSection {
        .projectsDiv {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}