@import '../page.module.scss';

.projectsSection {
    background-image: url('../../../public/Background\ Image.png');
    background-position: center center;
    background-repeat: repeat;

    padding: $marginSection 0;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h2 {
        @include title-primary();
        text-align: center;
    }

    .projectsDiv {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 4px;
        row-gap: 24px;
    }
}

//Responsividade

@media (max-width: 1000px) {
    .projectsSection {
        .projectsDiv {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}