@import '../page.module.scss';

//Estilizações principais

.loadingAlbum {
    aspect-ratio: 150 / 150;
    width: 100%;
    height: auto;
    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;

    span { @include load-spin-style(); }    
}

#screensaver {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(77 70 70 / 0.95);

    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .screensaverContent {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        z-index: 1;
        padding: 2% 0;

        .exitButton {
            position: fixed;
            display: flex;
            top: 2%;
            right: 2%;
            background: linear-gradient(180deg, #5c1212 0%, rgb(150 0 0 / 0.95) 100%);
            outline: none;
            border: none;
            padding: 5px;
            box-sizing: content-box;
    
            border-radius: 4px;
            transition: all 0.3s;
            z-index: 5;
            cursor: pointer;
    
            &:hover {
                transform: scale(1.1);
            }
        }

        .xenobladeIcon {
            width: 100px;
            height: auto;
            position: absolute;
            left: 2%;
            top: 2%;
            z-index: 1;
        }

        .mediaArea {
            position: relative;
            width: 70%;
            height: auto;
            
            display: flex;
    
            video, img {
                width: 100%;
                height: auto;
                max-height: 100vh;
            }

            span {
                @include text-primary();
                @include coloured-text();
                width: 24px;
                writing-mode: vertical-lr;
                text-align: center;
            }
    
            button {
                position: absolute;
                right: 2px;
                bottom: 2px;
                background-color: transparent;
                border: none;
                cursor: pointer;
    
                svg {
                    width: 30px;
                    height: 30px;
                    fill: #fff;
                }
            }
        }

        .tastesArea {
            width: 90%;
            padding-top: $marginSection;

            h2 { @include title-primary(); }

            h3 { @include home-developer-text(); @include coloured-text(); padding: 20px 0 }

            p { @include text-primary(); white-space: pre-line; }

            .games, .albums, .judokas {
                .gamesGrid, .albumsGrid, .judokasGrid {
                    display: grid;
                    gap: 10px;
                    justify-items: center;
                    margin: $marginSection 0;
                    
                    &.gamesGrid {
                        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                    }

                    &.albumsGrid {
                        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                    }

                    &.judokasGrid {
                        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    }

                    .gameModel, .albumModel, .judokaModel {
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: auto;
                            transition: filter 0.3s ease;
                        }
    
                        span {
                            font-size: 16px;
                            font-weight: 300;
                            color: $text-primary;

                            position: absolute;
                            z-index: 1;
                            opacity: 0;
                            transition: opacity 0.3s ease;
                            text-align: center;
                        }

                        &:hover {
                            img { filter: brightness(0.1); }

                            span { opacity: 1; }
                        }
                    }

                }
            }

            .conclusion {
                p { padding-top: $marginSection; }

                .closePage {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    button {
                        @include text-primary();
                        font-family: inherit;
                        font-size: 18px;
                        background: linear-gradient(180deg, #5c1212 0%, rgb(150 0 0 / 0.95) 100%);
                        outline: none;
                        border: none;
                        padding: 8px 16px;
                        box-sizing: content-box;
                
                        border-radius: 8px;
                        transition: all 0.3s;
                        cursor: pointer;
    
                        &:hover { transform: scale(1.1); }
                    }
    
                    img { width: 80px; height: auto; }
                }
            }
        }
    }
}

// Responsividade

@media #{$laptop} {
    #screensaver {
        .screensaverContent {

            .xenobladeIcon { display: none; }

            .mediaArea {
                width: 74%;
            }

            .tastesArea {
                .games, .albums {
                    .gamesGrid, .albumsGrid {
                        &.gamesGrid {
                            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                        }
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #screensaver {
        .screensaverContent {

            &::-webkit-scrollbar {
                width: 2px;
            }
            .mediaArea {
                width: 90%;
                flex-direction: row-reverse;

                img {
                    width: calc(100% - 20px);
                }

                span { width: auto; font-size: 16px; transform: rotate(180deg); }
            }

            .tastesArea {
                .games, .albums {
                    .gamesGrid, .albumsGrid {
                        &.gamesGrid {
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }
            }
        }
    }
}