@import '../page.module.scss';

//Estilizações principais

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .screensaverBackdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgb(77 70 70 / 0.80);
    }

    .mediaArea {
        position: relative;
        width: 70%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        video, img {
            width: 100%;
            height: auto;
            max-height: 98vh;
        }

        button {
            position: absolute;
            right: 2px;
            bottom: 2px;
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
    }

    .exitButton {
        position: fixed;
        display: flex;
        top: 2%;
        right: 2%;
        background: linear-gradient(180deg, #5c1212 0%, rgb(150 0 0 / 0.95) 100%);
        outline: none;
        border: none;
        padding: 5px;
        box-sizing: content-box;

        border-radius: 4px;
        transition: all 0.3s;
        z-index: 5;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

// Responsividade

@media #{$laptop} {
    #screensaver {
        .mediaArea {
            width: 74%;
        }
    }
}

@media #{$tablet} {
    #screensaver {
        .mediaArea {
            width: 90%;
        }
    }
}