@import '../page.module.scss';

.technologies {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 14px;
    background-color: rgb(7 13 30 / 0.5);

    transition: box-shadow 0.3s;

    svg {
        width: 75px;
    }

    p {
        @include text-primary();
    }

    &:hover {
        box-shadow: 0 0 8px rgb(7 13 30 / 0.5);
    }
}

// Responsivity

@media #{$mobileBig} {
    .technologies {
        width: 125px;
        height: 125px;

        svg {
            width: 65px;
        }
    }
}