//Animations for all icons


//HTML Effect
.htmlEffect {

    :nth-child(3), :nth-child(4) {
        animation: htmlEffect 5s alternate infinite;
    }

    :nth-child(1), :nth-child(2) {
        animation: htmlEffect2 5s alternate infinite;
    }

    @keyframes htmlEffect {
        from {
            fill: #ffffff;
        }

        to {
            fill: default;
        }
    }

    @keyframes htmlEffect2 {
        from {
            fill: #E44D26aa;
        }

        to {
            fill: default
        }
    }
}

//CSS Effect
.cssEffect {

    :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6) {
        animation: cssEffect 5s alternate infinite;
    }

    :nth-child(1), :nth-child(2) {
        animation: cssEffect2 5s alternate infinite;
    }

    @keyframes cssEffect {
        from {
            fill: #FFF;
        }

        to {
            fill: default;
        }
    }

    @keyframes cssEffect2 {
        from {
            fill: #1572B6aa;
        }

        to {
            fill: default
        }
    }
}

//Sass Effect
.sassEffect {

    path {
        fill: #CB6699;
        stroke: #CB6699;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        paint-order: stroke fill;
        transition: fill 0.3s ease-in-out;
    }
    
}

//JavaScript Effect
.jsEffect {
    
    :first-child {
        animation: jsEffect 5s infinite alternate;
    }

    :last-child {
        animation: jsEffect2 1s infinite alternate;
    }

    @keyframes jsEffect {
        0% {
            fill: #FFF;
        }

        35% {
            fill: #F0DB4F;
        }

        100% {
            fill: #F0DB4F;
        }
    }

    @keyframes jsEffect2 {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(1deg);
        }
    }
}

//TypeScript Effect
.tsEffect {
    
    :first-child {
        animation: tsEffect 5s infinite alternate;
    }

    :last-child {
        animation: tsEffect2 5s infinite alternate;
    }

    @keyframes tsEffect {
        0% {
            fill: transparent;
        }

        35% {
            fill: #FFF;
        }

        100% {
            fill: #FFF;
        }
    }

    @keyframes tsEffect2 {
        0% {
            fill: #FFF;
        }

        35% {
            fill: #007ACC;
        }

        100% {
            fill: #007ACC;
        }
    }
}

//React JS Effect
.reactEffect {
    animation: reactEffect 5s linear infinite;

    @keyframes reactEffect {
        from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
}

//Next JS Effect

//MySQL Effect
.mySqlEffect {

    path {
        animation: mySqlEffect 5s alternate infinite;
    }

    @keyframes mySqlEffect {
        0% {
            fill: #00618A;
        }
    
        50% {
            fill: #E48E00;
        }

        100% {
            fill: #FFF;
        }
    }
}

//JAVA Effect
.javaEffect {

    :nth-child(2), :nth-child(4) {
        animation: javaEffect 5s alternate infinite ease-in;
    }

    :nth-child(1), :nth-child(3), :nth-child(5) {
        animation: javaEffect2 5s alternate infinite ease-in;
    }

    @keyframes javaEffect {
        from {
            fill: #EA2D2E;
            transform: translateY(0px);
        }
    
        to {
            fill: #F2A156;
            transform: translateY(-5px);
        }
    }
    
    @keyframes javaEffect2 {
        from {
            fill: #0074BD;
            transform: translateX(0px);
        }
    
        to {
            fill: #FFF;
            transform: translateX(5px);
        }
    }
}

//Git Effect

//AWS Effect