@import '../../page.module.scss';

.modelProjects {
    position: relative;
    width: 560px;
    height: auto;
    border-radius: 15px;
    background: linear-gradient(180deg, #4D4646 0%, rgba(8, 175, 255, 0.50) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media #{$desktop} and (min-width: 535px) {
        width: 450px;
    }

    @media #{$mobileBig} {
        width: 95%;
    }
 
    .modelImage {
        width: 100%;
        height: 262px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }

        @media #{$desktop} and (min-width: 535px) {
            height: 210px;
        }

        @media #{$mobileBig} {
            height: auto;
        }
    }

    .modelName {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
           @include text-primary-font($text-primary);
            padding: 8px 0;

            @media #{$desktop} {
                padding: 4px 0;
            }
        }
    }
}