@import '../../page.module.scss';

.projectsSection {

    h2 {
        @include title-font($text-primary);
        text-align: center;
        padding: 25px 0 50px 0;
    }

    .projectsDiv {
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(575px, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 40px;

        @media #{$largerScreens} {
            width: 90%;
        }

        @media #{$desktop} {
            width: 95%;
        }

        @media #{$desktop} and (min-width: 535px) {
            grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
        }

        @media #{$mobileBig} {
            grid-template-columns: repeat(auto-fit, minmax(95%, 1fr));
        }
    }
}