@import '../../page.module.scss';

.skill {
    width: 100%;
    margin-top: 90px;
    padding: 15px 0 45px 0;
    border-radius: 50px;
    background: linear-gradient(180deg, #4D4646 0.01%, rgba(8, 175, 255, 0.50) 100%);

    h2 {
        @include title-font;
        font-weight: normal;
        color: $text-primary;
        text-align: center;
        padding: 25px 0;
    }

    .technologies {
        width: 85%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        row-gap: 40px;
        margin: auto;
        margin-top: 15px;

        @media only screen and (min-width: 1500px) {
            grid-template-columns: repeat(6, 1fr);
        }

        @media only screen and (max-width: 1000px) {
            width: 90%;
            grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (max-width: 768px) {
            width: 95%;
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: 535px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}