/*CSS Reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Animações*/

@keyframes bodyAnimation {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

/*Estilização principal*/

body {
    width: 100%;
    background: linear-gradient(180deg, #4D4646 5.79%, #0921D7 100%);
    background-size: 200% 200%;
    animation: bodyAnimation 10s alternate infinite ease;
}