//Variáveis

$header-bg-color: #4D4646;
$menu-bg-color: rgb(77 70 70 / 0.90);
$text-primary: #FFF;

$largerScreens: "(min-width: 1500px)";
$desktop: "(max-width: 1280px)";
$tablet: "(max-width: 768px)";
$mobileBig: "(max-width: 535px)";
$mobileNormal: "(max-width: 480px)";

@mixin text-primary-font($color) {
    font-size: 20px;
    font-weight: 300;
    color: $color;

    @media #{$desktop} {
        font-size: 18px;
    }
}

@mixin title-font($color) {
    font-size: 36px;
    font-weight: 400;
    color: $color;

    @media only screen and (max-width: 1000px) {
        font-size: 34px;
    }

    @media #{$mobileBig} {
        font-size: 30px;
    }
}